.name {
    font-size: 18px;
    font-weight: 500;
}
.block__userTop {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    align-items: center;
}
.sites {
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
}
/*.post__User__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    margin-top: 20px;
}*/
.block__User__span {
    max-width: 550px;
}
.blockUser {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: row;
    max-width: 100%;
    margin-top: 20px;
}